@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 17, 17);
    color: rgb(228, 228, 228);
    font-family: 'Roboto', sans-serif;
}



header .menu-icon a img {
    width: 100px;
}

header .menu-icon button {
    border: 0;
    background-color: transparent;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    margin: 0 30px;
}

.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    padding: 10px;
}

#logo {
    padding-left: 10px;
}

#search {
    width: 500px;
    height: 40px;
    background-color: transparent;
    border: 0;
    color: rgb(228, 228, 228);
    font-size: 15pt;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 20px;
    padding: 0 20px;
}

.creator-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}





.from-youtube {
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px 30px;
    border-top: 1px solid rgb(63, 63, 63);
    gap: 20px;
}

.from-youtube a {
    display: flex;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    color: rgb(228, 228, 228);
}

.service {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 30px;
    gap: 10px;
}

.credits {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0 20px 30px;
}

.credits nav a {
    color: rgb(160, 159, 159);
    text-decoration: none;
}