<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/carro/css/lista_carros.css">
</head>
<body>
  <h1>Lista de carros:</h1>
  <section class="conteudo">
    <%for (var i = 0; i < carros.length; i++){%>
        <div>
          <p>Marca: <%= carros[i].db_marca %></p>
          <p>Modelo: <%= carros[i].db_modelo %></p>
          <p>Ano: <%= carros[i].db_ano %></p>
          <% if (carros[i].db_qtde_disponivel === 0){
            carros[i].db_qtde_disponivel = 'Esgotado'
          } %>
          <p>Quantidade disponível: <%= carros[i].db_qtde_disponivel %></p>
          <br>
        </div>
        <%}%>
  </section>
        <section id="redirect">
            <h3>Links:</h3>
            <div id="links">
                <a href="/carro/html/cadastro_carro.html">Cadastro de carro</a>
                <a href="/carro/html/remove_carro.html">Remoção de carro</a>
                <a href="/carro/html/gerencia.html">Gerenciar carro</a>
                <a href="/usuarios/html/cadastro.html">Cadastro de usuário</a>
                <a href="/usuarios/html/login.html">Login do usuário</a>
                <a href="/lista_carros">Lista de carros</a>
                <a href="/venda">Loja</a>
            </div>
        </section>
</body>
</html>