<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Resposta: <%= resposta %></h1>
    <section id="redirect">
        <h3>Links:</h3>
        <div id="links">
            <a href="/carro/html/cadastro_carro.html">Cadastro de carro</a>
            <a href="/carro/html/remove_carro.html">Remoção de carro</a>
            <a href="/carro/html/gerencia.html">Gerenciar carro</a>
            <a href="/usuarios/html/cadastro.html">Cadastro de usuário</a>
            <a href="/usuarios/html/login.html">Login do usuário</a>
            <a href="/lista_carros">Lista de carros</a>
            <a href="/venda">Loja</a>
        </div>
    </section>
</body>
</html>